body{
    background-color: rgb(217, 236, 217);
}

.header {
    border: 5px solid rgb(22, 100, 25);
    background-color: rgb(92, 160, 86);
    width: 750px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: medium;
}

.header img {
    float: left;
}

.navigation {

    border: rgb(22, 100, 25);
    display: inline;
    text-align: center;

}

.content {
    color: rgb(0, 0, 0);
    border: 3px solid rgb(22, 100, 25);
    background-color: rgb(211, 223, 211);
    width: 750px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: medium;
}

h3{
    color: indianred;
}

table {
    color: rgb(0, 0, 0);
    border-color: black(22, 100, 25);
    border-style: solid;
    border-width: 4px;
    margin-left: auto;
    margin-right: auto;
    
}
th {
    border: solid black;
    font-size: large;
    color: black;
}

td {
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
}


.footer {

    width: 750px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;

}